<ion-view title="Add Blood Sugar Demo" hide-back-button="false" hide-nav-bar="true">
<ion-content class="padding" padding="true">

 <ion-slide-box show-pager="true" auto-play="true" slide-interval="4000" does-continue="true">

<ion-slide>
<p class="dark">Tap on the <b>+</b> icon on the top right to add blood sugar</p>
<span><img class="slide-img" src="img/demos/Bloodsugar/bloodsugar.png"></span>
</ion-slide>

<ion-slide>
<p class="dark">Enter details and tap on <b><em>Add Blood Sugar</em></b> button</p>
<span><img class="slide-img" src="img/demos/Bloodsugar/add.png"></span>
</ion-slide>

<ion-slide>
<span><img class="slide-img" src="img/demos/Bloodsugar/toast1.png"></span>
</ion-slide>

</ion-slide-box>

</ion-content>
</ion-view>