<ion-view title="Configure Reminders" hide-back-button="false" hide-nav-bar="true">
<ion-content class="padding" padding="true">
<ion-slide-box show-pager="true" auto-play="true" slide-interval="4000" does-continue="true">

<ion-slide>
<p class="dark">Tap on <b><em>Configure Reminders</em></b></p>
<span><img class="slide-img" src="img/demos/Reminders/reminders.png"></span>
</ion-slide>

<ion-slide>
<p class="dark">Turn on <em><b>Set Alarms</b></em> by sliding the switch</p>
<span><img class="slide-img" src="img/demos/Reminders/setAlarm.png"></span>
</ion-slide>

<ion-slide>
<p class="dark">Set the time for <em><b>Breakfast, Lunch &amp; Dinner</b></em> and tap on <b>Set Reminders</b></p>
<span><img class="slide-img" src="img/demos/Reminders/set.png"></span>
</ion-slide>

<ion-slide>
<span><img class="slide-img" src="img/demos/Reminders/noRepeat.png"></span>
</ion-slide>

<ion-slide>
<span><img class="slide-img" src="img/demos/Reminders/notify1.png"></span>
</ion-slide>


</ion-slide-box>

</ion-content>
</ion-view>