<ion-view title="Delete Blood Sugar Demo" hide-back-button="false" hide-nav-bar="true">
<ion-content class="padding" padding="true">
<ion-slide-box show-pager="true" auto-play="true" slide-interval="4000" does-continue="true">

<ion-slide>
<p class="dark">To delete an entry, tap on it. Click on the <i class = "icon ion-ios-trash-outline"></i> icon.</p>
<p class="dark">Tap on <b>ok</b> button to delete</p>
<span><img class="slide-img" src="img/demos/Bloodsugar/confirm.png"></span>
</ion-slide>

<ion-slide>
<span><img class="slide-img" src="img/demos/Bloodsugar/toast3.png"></span>
</ion-slide>

</ion-slide-box>
</ion-content>
</ion-view>