<ion-view title="Edit Blood Sugar Demo" hide-back-button="false" hide-nav-bar="true">
<ion-content class="padding" padding="true">

 <ion-slide-box show-pager="true" auto-play="true" slide-interval="4000" does-continue="true">
<ion-slide>
<p class="dark">To edit an entry tap on it. Edit the details. Tap on <b>Save Blood Sugar</b> button</p>
<span><img class="slide-img" src="img/demos/Bloodsugar/save.png"></span>
</ion-slide>

<ion-slide>
<span><img class="slide-img" src="img/demos/Bloodsugar/toast2.png"></span>
</ion-slide>

</ion-slide-box>

</ion-content>
</ion-view>
