<ion-view title="Progress Report Demo" hide-back-button="false" hide-nav-bar="true">
<ion-content class="padding" padding="true">
<ion-slide-box show-pager="true" auto-play="true" slide-interval="4000" does-continue="true">

<ion-slide>
<p class="dark">Tap on <b><i class="icon ion-share">Share</i></b> to display an action sheet</p>
<p class="dark">Tap on <b><em>Send To Email</em></b></p>
<span><img class="slide-img" src="img/demos/Graph/actionSheet.png"></span>
</ion-slide>

<ion-slide>
<span><img class="slide-img" src="img/demos/Graph/sendEmail.png"></span>
</ion-slide>



</ion-slide-box>
</ion-content>
</ion-view>