<ion-view title="Generate Pdf Demo" hide-back-button="false" hide-nav-bar="true">
<ion-content class="padding" padding="true">
<ion-slide-box show-pager="true" auto-play="true" slide-interval="4000" does-continue="true">

<ion-slide>
<p class="dark">Tap on <b><i class="icon ion-share">Share</i></b> to display an action sheet</p>
<span><img class="slide-img" src="img/demos/Graph/actionSheet.png"></span>
</ion-slide>

<ion-slide>
<p class="dark">Tap On <b><em>Export Pdf</em></b> to generate a pdf</p>
<span><img class="slide-img" src="img/demos/Graph/generatePdf.png"></span>
</ion-slide>

<ion-slide>
<span><img class="slide-img" src="img/demos/Graph/pdf.png"></span>
</ion-slide>

</ion-slide-box>
</ion-content>
</ion-view>