<ion-view title="Repeat Reminders" hide-back-button="false" hide-nav-bar="true">
<ion-content class="padding" padding="true">
<ion-slide-box show-pager="true" auto-play="true" slide-interval="4000" does-continue="true">

<ion-slide>
<p class="dark">You can also set repeat reminders for <em><b>Breakfast, Lunch &amp; Dinner</b></em> by checking <b>Repeat Everyday?</b></p>
<span><img class="slide-img" src="img/demos/Reminders/repeatSet.png"></span>
</ion-slide>

<ion-slide>
<span><img class="slide-img" src="img/demos/Reminders/repeat.png"></span>
</ion-slide>


</ion-slide-box>

</ion-content>
</ion-view>