<ion-view title="About Us" hide-back-button="false">
<ion-content class="padding" padding="true">

<div class="list card">

  <div class="item item-avatar item-divider">
    <img src="img/icon.png">
    <h2>Diabetes Care Plus</h2>
    <p>Version 1.0 beta</p>&nbsp
  </div>

  <div class="item item-body item-text-wrap pullDown">
   <p>
      DBcare+ is a health management hybrid mobile application that helps diabetics to manage their condition better.
      It's four distinguishing features are <b>Food &amp; Beverage</b> listing, <b>Blood Sugar Logs</b>, <b>Reminders</b> to eat on time. <b>Progress Report</b> be shared via email as pdf attachment.
    </p>
    </div>

    <div class = "item item-divider">
    <h2> Developed By</h2> 
    </div>

    <div class = "item item-text-wrap pullDown">
    <button class="button button-clear button-balanced" ng-click="showReuben()">Reuben Borrison</button> <button class="button button-clear button-calm" ng-click="showAbhi()">Abhijith Darshan</button> <button class="button button-clear button-dark" ng-click="showSharan()">Sharan Kasandula</button><button class="button button-clear button-royal" ng-click="showVishakha()"> Vishakha Jangida</button> <button class="button button-clear button-energized" ng-click="showKavana()">Kavana Ramaiah</button>
    </div>
    
</div>



</ion-content>
</ion-view>