<ion-view title="Demos" hide-back-button="true">
    <ion-content padding="true">

    <div class="list card ">

  <div class="item item-thumbnail-left item-text-wrap">
    <img src="img/food.png">
    <h2>Food &amp; Beverage</h2>
    <p> View a quick demo on how to calculate insulin dosage on the fly.</p>
  <a class="button button-block button-dark icon icon-left ion-social-youtube-outline" ui-sref='fandbDemoTabs.foodTab'>See Demo</a>
  </div>

</div>

   <div class="list card ">

  <div class="item item-thumbnail-left item-text-wrap">
    <img src="img/bloodsugar.png">
    <h2>Blood Sugar</h2>
    <p> View a quick demo on how to add/edit blood sugar logs.</p>
  <a class="button button-block button-dark icon icon-left ion-social-youtube-outline" ui-sref='bloodSugarDemoTabs.addTab'>See Demo</a>
  </div>

</div>

  <div class="list card ">

  <div class="item item-thumbnail-left item-text-wrap">
    <img src="img/clock.png">
    <h2>Reminders</h2>
    <p> View a quick demo on how to add/edit reminders.</p>
  <a class="button button-block button-dark icon icon-left ion-social-youtube-outline" ui-sref='reminderDemoTabs.configureTab'>See Demo</a>
  </div>

</div>

<div class="list card ">

  <div class="item item-thumbnail-left item-text-wrap">
    <img src="img/graph.png">
    <h2>Progress Report</h2>
    <p> View a quick demo on how to generate report &amp; export them to PDF.</p>
  <a class="button button-block button-dark icon icon-left ion-social-youtube-outline" ui-sref='graphDemoTabs.graphTab'>See Demo</a>
  </div>

</div>


    </ion-content>
</ion-view>