<ion-tabs class="tabs-icon-top tabs-royal">  

<ion-tab title="Back" icon="ion-ios-arrow-left" ui-sref="menu.demos">
    
  </ion-tab>

  <ion-tab title="Configure" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" ui-sref="reminderDemoTabs.configureTab">
    <ion-nav-view name="configureRemindersDemo"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Repeat" icon-on="ion-ios-loop-strong" icon-off="ion-ios-loop" ui-sref="reminderDemoTabs.repeatTab">
    <ion-nav-view name="repeatRemindersDemo"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Alarm Off" icon-on="ion-ios-alarm" icon-off="ion-ios-alarm-outline" ui-sref="reminderDemoTabs.offTab">
    <ion-nav-view name="reminderOffDemo"></ion-nav-view>
  </ion-tab>

</ion-tabs>