<ion-view title="Settings">
<ion-content padding="true" class="bg-img">

<div class="list card pullDown">

<a class="item item-icon-left" ui-sref="menu.profile">
<i class="icon ion-person " style="color:#B71C1C ;"></i>
Profile
<p>Change Email, Change Password</p>
</a>

<a class="item item-icon-left" ui-sref="menu.faq">
<i class="icon ion-ios-help" style="color:#B71C1C ;"></i>
FAQs
<p>How-To, Frequently Asked Questions</p>
</a>

<a class="item item-icon-left" ui-sref='menu.about'>
<i class="icon icon-left ion-ios-information" style="color:#B71C1C ;"></i>
About Us
<p>Version, Developers</p>
</a>

</div>


</ion-content>
</ion-view>