<ion-view title="Take A Tour" align-title="center" class="light" hide-back-button="false">
<ion-nav-bar class="bar-assertive">
<ion-nav-buttons side="right">
<button class = "button button-clear button-light" style="color:white;" ui-sref='tour1'>Next</button>
    </ion-nav-buttons>
</ion-nav-bar>

<ion-content class="tourView">

          
            <div class="list card cardShadow">
              <div class="item item-text-wrap">
                <center>
                <h2>Welcome to Diabetes Care Plus</h2>
                <p> Tour Wizard </p>
                </center>
              </div>
              
              <div class="item item-body">
               
                <img class="full-image" src="img/tour1.png" style="height:300px;">
          
                 <h2><center>We help you to manage your condition better!</center> </h2>
                  
                    
              </div>
            </div>
     
</ion-content>

</ion-view>
