<ion-view title="Finishing up..." align-title="center" class="light" hide-back-button="false">
<ion-nav-bar class="bar-assertive">
<ion-nav-buttons side="right">
 <button class="button light button-clear" style="color:white;" ui-sref='menu.home'>Finish
              </button>
    </ion-nav-buttons>
</ion-nav-bar>

<ion-content class="tourView">

<div class="list card cardShadow">
<div class="item item-avatar item-text-wrap">
    <img src="img/icon.png">
    <h2>Diabetes Care Plus</h2>
    <p> Introduction </p>
  </div>

  <div class="item item-avatar item-text-wrap" style="border-bottom:none;">
    <img src="img/food.png">
    <h2>Food and beverage</h2>
    <p> A description of standard food types and their KHE.</p>
  </div>

  <div class="item item-avatar item-text-wrap" style="border-bottom:none;border-top:none;">
    <img src="img/bloodsugar.png">
    <h2>Blood Sugar</h2>
    <p> Keep a track of your blood sugar levels.</p>
  </div>
  
  <div class="item item-avatar item-text-wrap" style="border-bottom:none;border-top:none;">
    <img src="img/clock.png">
    <h2>Reminders</h2>
    <p> Get custom notifications to take your medication / food on time.</p>
  </div>  
  
  <div class="item item-avatar item-text-wrap" style="border-bottom:none;border-top:none;">
    <img src="img/graph.png">
    <h2>Progress Report</h2>
    <p> Log your blood sugar levels for 3 months and get a detailed progress report of it.</p>
  </div>

    
  </div>

</ion-content>

</ion-view>
