         	<ion-modal-view class="pane">
        		<ion-header-bar class="bar bar-header bar-dark item-icon-left">
        		<i class="icon ion-ios-locked-outline"></i>
          			<h1 class="title">Change Password</h1>
          			<button class="button button-clear button-primary" ng-click="password.hide()">Cancel</button>
          		</ion-header-bar>

          		<ion-content class="padding" class="pane">
              <div class="list card">
              <form name="changepassForm">
            			<label class="item item-input item-stacked-label">
              				<span class="input-label">Current Password</span>
              				<input type="password" ng-model="pass.cpass" placeholder="" required="yes">
            			</label>

			            <label class="item item-input item-stacked-label">
			              <span class="input-label">New Password</span>
			              <input type="password" ng-model="pass.npass" placeholder="" required="yes">
			            </label>

			            <label class="item item-input item-stacked-label">
			              <span class="input-label">Re-enter Password</span>
			              <input type="password" ng-model="pass.rpass" placeholder="" required="yes">
			            </label>

			            
              </form>
			        </div>

			        <button class="button button-block button-dark" ng-disabled="changepassForm.$invalid" ng-click="changepass(pass)">Confirm</button>
			    </ion-content>
        	</ion-modal-view>
        
